@import url(common.css);

.sagin{
    margin-left: 370px;
    margin-top: 7%;
    display: flex;
}
.line > span{
    width: 5px;
    height: 700px;
    display: block;
    background-color: #5B2C67;
}
.line{
    margin-right: 1%;
}
.jemock > h1{
    font-size: 32px;
    color: #4d4d4d;
}
.jemock{
    margin-bottom: 1%;
}
.sangse > div > p{
    margin-top: 2%;
    font-size: 16px;
    font-weight: bold;
    color: #4d4d4d;
}
.sangse > div > p > span{
    margin-top: 2%;
    font-size: 16px;
    font-weight: bold;
    color: #4d4d4d;
}
.sangse > div > p:nth-of-type(1) > span{
    margin-right: 3px;
}
.sangse > div > p:nth-of-type(2) > span{
    margin-right: 13px;
}
.sangse > div > p:nth-of-type(3) > span{
    margin-right: 13px;
}
.sangse > div > p:nth-of-type(4) > span{
    margin-right: 42px;
}
.sangse > div:nth-of-type(3) > p > span{
    margin-right: 42px;
}
.sangse > div:nth-of-type(4) > p > span{
    margin-right: 3px;
}

.color > div > p{
    margin-bottom: 1%;
    font-size: 16px;
    font-weight: bold;
    color: #4d4d4d;
}
.color{
    display: flex;
}
.color > div{
    margin-right: 3%;
    text-align: center;
}
.fi{
    display: flex;
    margin-top: 2%;
    align-items: center;
}
.fi > div{
    margin-left: 2%;
}
.fi > div > p{
    font-size: 15px;
    font-weight: bold;
    color: #4d4d4d;
}
