@import url(common.css);

body{
  margin: 0;
  font-family: 'Koh Santepheap';
}
.sect01{
  position: relative;
}  
.sect01 .line-box{
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(-50%, -50%);
  width: 40px; /* X 사이즈 */
  height: 40px; /* X 세로 중앙 */
}
  
.sect01 .line-box > span{
  position: absolute;
  top: 50%;
  width: 100%;
  height: 7px;
  background-color:#fff;
  border-radius: 5px;
}
  
.sect01 .line-01{
  transform: rotate(135deg) translateX(0%);
}
  
.sect01 .line-02{
  transform: rotate(45deg) translateX(0%);
}
 
.font{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #5B2C67;
}
.container{
  position: absolute;
  top: 40%;
  left: 34%;
  color: #fff;
  overflow:hidden;
}
.title2::after{
  content:'';
  border-bottom:5px solid white;
  display:block;
  margin: 0 auto;
  width: 0;
  animation-name: intr;
  animation-duration:1.5s;
  animation-iteration-count:1;
  animation-timing-function:ease;
  animation-delay:2s;
  animation-fill-mode:backwards;
  animation-fill-mode: forwards;
}
@keyframes intr {
  0%{
    width: 0px;
  }
  100%{
    width: 100%;
  }
}

.container > p{
  font-size: 40px;
  font-weight: bold;
}
.container > h1{
  font-size: 98px;
  font-weight: bold;
}
.title {
  display:block;
  position:relative;
}

.title1 {


  animation-name: intro;
  animation-duration:1s;
  animation-iteration-count:1;
  animation-timing-function:ease;
  animation-delay:1s;
  animation-fill-mode:backwards;
 }

@keyframes intro {
  0% {
    top:150px;
  } 
  98% {
    top:0px;
  }
  100% {
    top:0%;
  }
}

.title2 {
  animation-name: intro;
  animation-duration:1.5s;
  animation-iteration-count:1;
  animation-timing-function:ease;
  animation-delay:1.2s;
  animation-fill-mode:backwards;
 }
 
 
 
